.containerOfEverything{
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #d6f1c6, #a0d884);
  display: flex;
  justify-content: center;
  align-items: center;
}
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    padding: 40px;
    background: rgba(255, 255, 255, 0.2);
    border: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(100px);
    border-radius: 12px;
  }
  
  .auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  
  .auth-card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 400px;
    text-align: center;
  }
  
  .auth-card h1 {
    margin-bottom: 20px;
    color: #6d9b61;
    font-size: 24px;
  }
  
  .auth-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #6d9b61;
  }
  
  .auth-card p {
    font-size: 14px;
    color: #8e8e8e;
    margin-bottom: 20px;
  }
  
  .auth-card form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: #555555;
  }

  .auth-card form input{
    color: #555555;
  }
  .auth-card form input:focus{
    box-shadow: none;
  }
  
  .password-container {
    height: 40px;
    border: 1px solid #cdd9c6;
    border-radius: 8px;
    padding: 0 10px;
    font-size: 16px;
  }
  .password-container input{
    width: 95%;
    padding: 10px;
    padding-left: 0px; /* Pour laisser de la place à l'icône */
    box-sizing: border-box;
    border:0px;
    color: #555555;
  }
  .password-container span{
    width: 5%;
  color: #999;
  }
  
  .password-container:focus {
    outline: none;
    border-color: #6d9b61;
  }
  
  .auth-card button {
    height: 40px;
  border: none;
  border-radius: 8px;
  background-color: #6d9b61;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: auto;
  }
  
  .auth-card button:hover {
    background-color: #558b4f;
  }
  
  .auth-card a {
    display: block;
    margin-top: 10px;
    color: #6d9b61;
    text-decoration: none;
    font-size: 14px;
  }
  
  .auth-card a:hover {
    text-decoration: underline;
  }
  
.create-form-one-field{
  display: flex;
  flex-direction: column;
  align-items: start;
}

  .create-form-one-field h4{
    margin: 0 0 2px 2px;
    color: #558b4f;
  }

  .create-form-one-field select{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 15vw;
  }
  .create-form-one-field input{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 13.5vw;
  }

.create-form-one-side{
  display: flex;
  width: 31vw;
  justify-content: space-between;
  align-items: end;
}

.form-create-all1{
  display: flex;
  flex-direction: column;
}

  
.create-form-one-field2{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.create-form-one-field2 h4{
  margin: 0 0 2px 2px;
  color: #558b4f;
}
.create-form-one-field2 h5{
  margin: 0 0 2px 2px;
  color: #558b4f;
}

  .create-form-one-field2 select{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 13.5vw;
  }
  .create-form-one-field2 input{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 5.6vw;
  }
  .create-form-one-side2{
    display: flex;
    width: 15vw;
    justify-content: space-between;
  }

  .create-form-one-field h5{
    margin: 0 0 2px 2px;
    color: #558b4f;
  }

  .create-form-one-side1{
    display: flex;
    width: 15vw;
    justify-content: space-between;
  }

  .form-create-all {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    padding: 20px;
    padding-bottom: 0;
  }

  .form-create-all0{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fffff5;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .create-form-one-field0 input{
    width: 16.6vw;
    border-radius: 5px;
  }

  
  .create-form-one-field0 select{
    width: 18vw;
    border-radius: 5px;
    background-color: #fffff5;
    color: #2A2A2A;
  }

  .create-form-one-field0 h4{
    margin: 0 0 2px 2px;
    color: #558b4f;
  }
  .create-form-one-field0 h5{
    margin: 0 0 2px 2px;
    color: #558b4f;
  }

  .create-form-one-field0{
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .form-create-all0 button{
    width: max-content;
    padding: 12px 20px 20px 20px;
    margin: 0 0 20px 0;
    font-weight: bold;
  }

.form-create-all-0{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(100px);
  border-radius: 12px;
  position: fixed;
  top: 50%;
  left: 50%;
  height: max-content;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.vertical-line-form-create{
  width: 1px;
  background-color: #558b4f;
  height: 64vh;
  margin: 10px;
}

.create-form-one-side-part2{
  display: flex;
  justify-content: space-between;
  width: 37vw;
}

.create-form-one-side-part2-1{
  display: flex;
  width: 18vw;
  justify-content: space-between;

}

.create-form-one-field-part21{
  display: flex;
  flex-direction: column;
  align-items: start;
}

.create-form-one-field-part21 h4{
  margin: 0 0 2px 2px;
  color: #558b4f;
}

.create-form-one-field-part21 h5{
  margin: 0 0 2px 2px;
  color: #558b4f;
}

  .create-form-one-field-part21 select{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 8.5vw;
  }
  .create-form-one-field-part21 input{
    background-color: #fffff5;
    color: #2A2A2A;
    border-radius: 5px;
    width: 7vw;
  }

  .create-form-one-field5{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 37vw;
  }
  .create-form-one-field5 h5{
    margin: 0 0 2px 2px;
    color: #558b4f;
  }
.form-create-all0 h1{
  margin-bottom: 0;
}