.rapport{
    position: fixed;
    top: 8vh;
    left: 16vw;
    width: 84vw;
    height: 92vh;
    color: #2C471B;
    background-color: #FFFEE6;
}

.rapport-dish-oneday{
    display: flex;
}

.rapport-onedish img{
    width: 90px;
    height: calc((92vh / 7) - (4px * 7));
    border-radius: 5px;
}

.rapport-onedish h6{
    text-align: center;
    margin: 5px;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rapport-onedish{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rapport-day h2{
    margin: 15px;
    padding: 0;
    font-size: 16px;
}

.rapport-day{
    display: flex;
}
