.rapport{
    position: fixed;
    top: 8vh;
    left: 16vw;
    width: 84vw;
    height: 92vh;
    color: #2C471B;
    background-color: #FFFEE6;
    display: flex;
    justify-content: space-between;
}

.rapport-dish-oneday{
    display: flex;
}

.rapport-onedish img{
    width: 90px;
    height: calc((92vh / 7) - (4px * 7));
    border-radius: 5px;
}

.rapport-onedish h6{
    text-align: center;
    margin: 5px;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.rapport-onedish{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rapport-day h2{
    margin: 15px;
    padding: 0;
    font-size: 16px;
}

.rapport-day{
    display: flex;
}

.rapport-ing-info{
    display: flex;
    flex-direction: column;
}

.rapport-ing-info2{
    display: flex;
    flex-direction: column;
    align-items: end;
    padding-right: 10px;
}

.rapport-ing-info-all{
    display: flex;
    gap: 20px;
    overflow-y: scroll;
    height: 64vh;
    scrollbar-width: thin;
}
.rapport-part2{
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    height: 70vh;
    overflow: hidden;
}

.rapport-part2 h3{
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rapport-horizontal-line{
    width: 350px;
    height: 1.5px;
    background-color: #2C471B;
    margin: 5px;
    margin-bottom: 10px;
}
.rapport-part3{
    position: fixed;
    bottom: 2vh;
    right: 50px;
}

.rapport-vertical-line{
    width: 1.5px;
    height: 500px;
    background-color: #2C471B;
}