.plat_info1{
    display: flex;
    gap: clamp(3px, 1vh, 10px);
    align-items: center;
    position: fixed;
    left: 12vw;
    top: 8vh;
    width: 88vw;
    height: 92vh;
    justify-content: center;
    background-color: #FFFEE6;
}