.plat{
    background-color: #F2FFEA ;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
}

.plat-image img {
    position: fixed;
    width: 1000px;
    bottom: 0;
    right: 55%;
    height: 100%;
}

.plat-title h1{
    font-size: xx-large;
    font-weight: black;
    color: #2C471B;
    text-align: left;
}

.plat-ingredient h5{
    color: #2A2A2A;
    max-width: 45vw;
    text-align: justify;
}

.plat-ingredient h2{
    color: #6E9955;
    max-width: 45vw;
}

.plat-duree h5{
    color: #2A2A2A;
    max-width: 50px;
    text-align: center;
    margin: 0;
}

.plat-duree img{
    width: 20px;
}

.plat-duree{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5px
}

.line{
    width: 0.5px;
    height: 58px;
    background-color: #CECECE;
}


.plat-info{
    display: flex;
    align-items: center;
    gap: 2vw;
}

.plat-recette h2{
    font-weight: bolder;
    color: #6E9955;
}
.plat-recette h5{
    font-weight: bolder;
    max-width: 45vw;
    text-align: justify;
    color: #2A2A2A;
}

.plat-infos{
    position: fixed;
    left: 50%;
    top: 10%;
    display: flex;
    flex-direction: column;
}