/* Wrapper général */
.wrapperFaz {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff; /* Fond neutre et moderne */
}

.sectionFaz {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.container-customFaz {
  display: flex;
  width: 100%;
  /*max-width: 1200px;*/
  gap: 20px;
  margin-top: 30px;
}

/* Sidebar (Barre de navigation) */
.sidebar-customFaz {
  width: 200px;
  background-color: #2C471B;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  flex-shrink: 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav-listFaz {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-listFaz li {
  margin: 15px 0;
}

.nav-link {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 1.1rem;
  padding: 10px 15px;
  border-radius: 8px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-link:hover {
  background-color: #57606f;
  color:#6E9955;
  transform: translateX(5px); /* Lien légèrement décalé au survol */
}

.nav-link svg {
  margin-right: 10px;
  font-size: 1.5rem;
}

/* Contenu principal */
.content-customFaz {
  flex: 1;
  background-color: #fff;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
 
}

/* Responsive Design */
@media (max-width: 768px) {
  .container-customFaz {
    flex-direction: column;
    align-items: center;
  }

  .sidebar-customFaz {
    width: 100%;
  }

  .content-customFaz {
    width: 100%;
    margin-top: 20px;
  }
}
