

.tableauFaz1 {
    width: 100%;
    background-color: #fff; /* Couleur de fond pour la section de la table */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    table-layout: auto; /* Permet à la table de s'adapter au contenu */
    border-collapse: collapse;
    
  }
  
  .data-table1 {
    table-layout: fixed; 
    width: 100%;
    border-collapse: collapse; /* Pour éviter les espaces entre les cellules */
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
  }
  
  
  .data-table1 th,
  .data-table1 td {
    text-align: left;
    padding: 25px;
    border-bottom: 1px solid #ddd; 
    max-width: 220px;
    
}
.data-table1 td{
    padding: 12px 15px;
    word-wrap: break-word;  
}
  
  .data-table1 th {
    background-color: #68765f; /* Couleur de fond pour les en-têtes */
    color: #fff; /* Couleur du texte des en-têtes */
    font-size: 1.1rem;
  }
  
  .data-table1 tr:nth-child(even) {
    background-color: #f9f9f9; /* Couleur de fond pour les lignes paires */
  }
  
  .data-table1 tr:hover {
    background-color: #f1f1f1; /* Survol de ligne */
    cursor: pointer; /* Changement du curseur au survol */
  }
  
  /* Style spécifique pour la table en mode mobile */
  @media screen and (max-width: 768px) {
    .data-table1 th, .data-table1 td {
      padding: 8px 10px;
    }
  
    .data-table1 {
      font-size: 0.9rem;
    }
  }
  

  /* Style pour le titre */
.quoiFaz {
    font-size: 30px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
   
    left: 0;
  }
  
  
  /* Style pour le select */
  .selectFaz {
    border: 2px solid #2C471B;
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    color: black;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
  
    display: block;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
  }
  
  .selectFaz:hover {
    background: linear-gradient(45deg, #538136, #2C471B); /* Inverse du dégradé au survol */
  }
  
  .selectFaz:focus {
    border-color: #2C471B; /* Change la bordure en orange clair */
  }
  
  /* Style pour le bouton */
  .AllonsYFaz {
    background-color: #2C471B; /* Couleur de fond */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    display: block;
    margin: 20px auto;
    width:300px
  }
  
  .AllonsYFaz:hover {
    background-color: #538136; /* Changement de couleur au survol */
    transform: translateY(-5px); /* Effet de levée au survol */
  }
  
  .AllonsYFaz:active {
    background-color: #2C471B; /* Changement de couleur quand le bouton est pressé */
    transform: translateY(0);
  }
  


/*modal ajout*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
  }
  
  .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 700px;
    text-align: center;
  }
  
  .modal-content  input,.modal-content  textarea {
    width: 100%;
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .buttonAjoutPlat{
    display:flex;
    flex-direction: row;
  }
  
  .ajoutplat {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
  }
  
  .ajoutplat:hover {
    background-color: #45a049;
  }

  .fermerPlat{
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
  }

  .form-groupFaz {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    gap:20px;
  }
  
.operationsFaz{
  display: flex;
  flex-direction: row;
}

.buttonOperationsFaz{
  background-color: transparent;
  border: none;
  cursor: pointer;
  color:#68785f;
}

.buttonOperationsFaz:hover{
  background-color: transparent;
  color:#2C471B;
}

.trashF{
  color:#907546;
}
.trashF:hover{
  color:#705b36;
}
.buttonAjoutPlatFaz{
  background-color: #2C471B;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  margin: 5px;
  width:200px;
  margin-bottom: 40px;
}

.ActionsbeforeFaz{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
}
.selectionmultipleFaz{
  display: flex;
  flex-direction: row;
  gap:40px;
  margin-bottom: 20px;
  align-items: center;
}
.rechercheTotalFaz{
  display: flex;
  flex-direction: row;
  gap:10px;
  align-items: center;
  
}

.searchPlatFaz {
  font-size: 18px;
  color: #333;
}
.triFaz{
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  width: 180px;
  cursor: pointer;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}
.triFaz:focus{
  border-color: #2C471B;
}
.rechercheTotalFaz input{
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 5px;
  width: 200px;
  outline: none;
  transition: border-color 0.3s ease;
}
.rechercheTotalFaz input:focus {
  border-color: #2C471B; /* Bordure bleue au focus */
}

.confirmationsupprimerPlat{
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  gap: 10px;
  justify-content: flex-end; 
  width: 100%; 
  cursor: pointer;
  
}
.noDelete.YesDelete{
  padding: 12px 24px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 25px;  /* Bordures arrondies pour un style plus moderne */
  font-weight: bold;
  transition: all 0.3s ease;  /* Transition douce pour les effets */
  display: inline-block;
  min-width: 120px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
 
}
.confirmationsupprimerPlat .noDelete{
  color:#2C471B;
  background-color: #ccc;
  border-color: #2C471B;
 
}
.paragrapheSupprimer{
  color:#2C471B;
  margin-bottom: 40px;
}


.supprimerTitleFaz{
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  padding-bottom: 10px;
}


/*modal ajout*/
.modalsupprimerFaz {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  
}

.modal-contentsupprimerFaz {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  text-align: center;
}

.modal-contentsupprimerFaz  input,.modal-contentsupprimerFaz  textarea {
  width: 100%;
  margin: 10px 0;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.modalInformation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.modal-contentInformation {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-width: 600px;
  width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  position: relative; 
  overflow-y: auto;
}

.imageDetailsPlats{
  width:200px;
  border-radius:10px;
  object-fit: cover;
  
}
.nameInformationPlats{
  display: flex;
  gap: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ddd;
}

.nameInformationPlats p{
  background-color: #f4f4f4;
  
  padding: 5px;
  border-radius: 5px;
  margin: 0;
  font-size: 14px;
}

.titreFazYoutube h3 {
  font-size: 2.1rem;
  margin-bottom: 10px;
}

.titreFazYoutube .categorieFaz{
  margin-bottom:10px;
}
.musclesFaz{
  display: flex;
  flex-direction: row;
  gap:40px;
  align-items:center ;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  
  padding-bottom:10px;
}

.musclesFaz strong{
  color: #333;
  font-size: 1rem;
}

.musclesFaz p {
  align-items: center;
  font-weight: bold;
  
}

.youtubeisYoutubing {
  background-color: rgb(251, 217, 212);
  padding: 5px;
  border-radius: 5px;
  color:rgb(132, 88, 88);
  font-size: 14px;
  display: inline-block; 
}

.youtubeisYoutubing:hover{
  background-color: rgb(132, 88, 88);
  color:rgb(237, 214, 214);
}
.youtubeisYoutubing a{
  color:rgb(132, 88, 88);
}
.youtubeisYoutubing a:hover{
  color:rgb(237, 214, 214);
}


.modal-contentInformation button{
  background: transparent;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  position: absolute;
  top: 10px; 
  right: 0px; 
}